<footer class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

          <span class="point"> · </span>
          <span>&copy; 2015 J</span>
          <span class="point"> · </span>

      </div>
    </div>
  </div>
</footer>
<!--baidutongji start-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b07103ca6a7015f386e09445bbdb63cc";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--baidutongji end-->
